.feature {
    // background: red;
    max-width: vars.rem(1359);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: vars.$very-dark-grayish-blue;
    padding: vars.rem(160) 0 vars.rem(260);

    .infos {
        margin-top: vars.rem(60);
        @extend %flex;
        text-align: left;

        @include vars.media(tablet, max) {
            flex-direction: column;
            text-align: center;
        }

        & > * {
            width: 50%;

            @include vars.media(tablet, max) {
                width: 80%;
                margin: 0 auto;
            }
        }

        .left {
            position: relative;
        }

        img {
            position: absolute;
            left: -45%;
            top: 50%;
            width: 120%;

            transform: translateY(-50%);

            @include vars.media(tablet, max) {
                position: relative;
                width: 100%;
                left: 0;
                transform: translateY(0%);
            }
        }

        .content {
            width: 80%;
            @include vars.media(tablet, max) {
                margin: 0 auto;
                text-align: center;
            }
        }
    }
    h3 {
        margin-bottom: vars.rem(30);
        font-size: vars.rem(26);
        color: vars.$very-light-blue;
    }

    article:first-child {
        margin-bottom: vars.rem(80);

        @include vars.media(tablet, max) {
            margin-bottom: vars.rem(50);
        }
    }
}
