footer {
    background: vars.$very-dark-black-blue;
    color: vars.$white;
    border-top-right-radius: vars.rem(48);
    padding: vars.rem(80) vars.rem(160);

    @include vars.media(tablet, max) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: vars.rem(70) 0;
    }

    @include vars.flexer(start, space-around);

    .logo {
        height: vars.rem(40);
        width: vars.rem(100);
        background-image: url(/src/images/logo.svg);
    }

    .title {
        font-weight: bold;
        margin-bottom: vars.rem(40);

        @include vars.media(tablet, max) {
            margin-top: vars.rem(40);
        }
    }

    li:not(.title) {
        margin-bottom: vars.rem(15);
        color: vars.$grayish-blue;

        @include vars.media(tablet, max) {
            margin-bottom: vars.rem(10);
        }
    }

    a:hover {
        text-decoration: underline;
    }
}
