.future {
    // background: red;
    max-width: vars.rem(1359);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: vars.$very-dark-grayish-blue;
    padding: vars.rem(160) 0 vars.rem(260);

    .infos {
        margin-top: vars.rem(60);
        @extend %flex;
        text-align: left;

        @include vars.media(tablet, max) {
            flex-direction: column-reverse;
            text-align: center;
        }

        & > * {
            width: 50%;

            @include vars.media(tablet, max) {
                width: 80%;
                margin: 0 auto;
            }
        }

        .right {
            position: relative;
        }

        img {
            position: absolute;
            right: -50%;
            top: -60%;
            width: 120%;

            @include vars.media(tablet, max) {
                position: relative;
                width: 100%;
                right: 0;
            }
        }
    }
    h3 {
        margin-bottom: vars.rem(30);
        font-size: vars.rem(26);
        color: vars.$very-light-blue;
    }

    .content {
        width: 80%;
        background: red;
    }

    article:first-child {
        margin-bottom: vars.rem(80);

        @include vars.media(tablet, max) {
            margin-bottom: vars.rem(50);
        }
    }
}
