.head {
    height: vars.rem(600);
    background-image: linear-gradient(90deg, vars.$grad-very-light-red, vars.$grad-light-red);
    padding: vars.rem(60) 0;
    position: relative;
    border-bottom-left-radius: vars.rem(95);

    /******************** BACKGROUND IMAGE ********************/
    &_img {
        width: 80%;
        position: absolute;
        transform: scale(2);
        height: 100%;
        right: -15%;
        bottom: -35%;
    }

    &_img_desktop {
        @extend %d-block;
        @include vars.media(phone-wide, max) {
            display: none;
        }
    }

    &_img_mobile {
        @extend %d-none;
        @include vars.media(phone-wide, max) {
            display: block;
        }
    }

    &_header {
        position: relative;
        margin: 0 auto;
        width: clamp(vars.rem(330), 80%, vars.rem(1200));
    }

    &_navbar {
        @include vars.flexer(center, space-between);
    }

    /******************** LOGO ********************/
    .logo_container {
        display: flex;
        width: auto;

        @include vars.media(tablet, max) {
            width: 100%;
        }
    }

    &_logo {
        height: vars.rem(40);
        width: vars.rem(100);
        background-image: url(/src/images/logo.svg);
        margin-right: vars.rem(65);
    }

    /******************** NAVBAR (ACCORDIONS AND BUTTONS) ********************/

    &_nav {
        // background: green;
        @include vars.flexer(center, space-between);
        @include vars.media(tablet, max) {
            display: none;
            position: relative;
            z-index: 2;
        }
        &.active {
            @include vars.media(tablet, max) {
                position: absolute;
                overflow: hidden;
                top: vars.rem(111);
                background: vars.$white;
                min-width: vars.rem(325);
                width: 100%;
                padding: vars.rem(30) 0;
                left: 0;
                display: flex;
                min-height: vars.rem(510);
                // align-items: start;
                flex-direction: column;
                border-radius: vars.rem(4);
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            }
        }

        flex: 1;
        .account {
            width: vars.rem(220);
            @include vars.flexer(center, space-between);
            @include vars.media(tablet, max) {
                align-self: flex-end;
                // background: green;
                margin: 0 auto;
                flex-direction: column;
                justify-content: center;
            }
        }
    }

    &_navlink {
        color: vars.$white;
        @include vars.flexer($ai: center);
        cursor: pointer;

        @include vars.media(tablet, max) {
            color: vars.$very-dark-gray-blue;
        }
        &.active {
            text-decoration: underline;
            ion-icon {
                transform: rotate(180deg);
            }
        }
        ion-icon {
            margin-left: vars.rem(5);

            @include vars.media(tablet, max) {
                color: vars.$very-light-red;
            }
        }
    }

    .panel {
        @extend %d-none;
        @include vars.pseudo($pos: absolute, $content: '', $w: vars.rem(160));
        background: vars.$white;
        padding: vars.rem(20);
        transform: translateY(vars.rem(20));
        border-radius: vars.rem(4);
        z-index: 10;

        p {
            cursor: pointer;
        }

        p:hover {
            font-weight: bold;
        }

        p:not(:last-child) {
            margin-bottom: vars.rem(15);
        }

        &.active {
            @extend %d-block;
        }

        @include vars.media(tablet, max) {
            background: vars.$grayish-blue;
            width: vars.rem(275);
            left: 50%;
            transform: translate(-50%, 45%);
        }
    }
    .openers {
        @include vars.flexer($jc: space-between);
        // background: red;
        width: vars.rem(305);

        @include vars.media(tablet, max) {
            width: 100%;
            flex-direction: column;
            text-align: center;
            height: vars.rem(120);
            align-items: center;
        }

        section {
            position: relative;
        }
    }

    .account button {
        border: none;
        background: none;
        color: vars.$white;
        padding: vars.rem(10) vars.rem(30);
        border-radius: 9999px;
        cursor: pointer;
        transition: background 0.3s;

        @include vars.media(tablet, max) {
            color: vars.$very-dark-gray-blue;
            font-weight: bold;
            margin: vars.rem(8) 0;
        }

        &:last-child {
            @include vars.media(tablet, max) {
                color: vars.$white;
                background-image: linear-gradient(90deg, vars.$grad-very-light-red, vars.$grad-light-red);
            }
        }

        &:hover {
            @include vars.media(tablet, min) {
                background: rgba(255, 255, 255, 0.3);
            }
        }
    }
}

.icon_menu {
    @extend %d-none;
    margin-left: auto;
    font-size: vars.rem(25);
    cursor: pointer;
    color: vars.$white;
    @include vars.media(tablet, max) {
        display: block;
    }
}
