.hero {
    max-width: 1200px;
    width: 75%;
    position: relative;
    color: vars.$white;
    text-align: center;
    margin: vars.rem(90) auto 0;
    @include vars.flexer(center, center, column);

    h1 {
        font-size: vars.rem(48);

        @include vars.media(tablet, max) {
            font-size: vars.rem(29);
        }
    }

    p {
        margin: vars.rem(40) 0;
    }

    section {
        width: 100%;
        // background: red;
        flex-wrap: wrap;
        @include vars.flexer(center, center);
    }

    button {
        background: vars.$white;
        border: none;
        color: vars.$white;
        padding: vars.rem(10) vars.rem(15);
        border-radius: 9999px;
        cursor: pointer;
        transition: background 0.3s;
        font-weight: bold;
        color: vars.$light-red;

        &.secondary {
            margin-left: vars.rem(16);
            background: transparent;
            border: 1px solid vars.$white;
            color: inherit;
        }
    }

    button:not(.secondary):hover {
        background: rgba(255, 255, 255, 0.3);
        color: vars.$white;
    }
    .secondary:hover {
        background: vars.$white;
        color: vars.$light-red;
    }
}
