.state {
    height: vars.rem(400);
    padding: 0 vars.rem(160);
    background: vars.$very-dark-gray-blue;
    color: vars.$white;
    border-top-right-radius: vars.rem(160);
    border-bottom-left-radius: vars.rem(160);
    position: relative;
    @include vars.flexer(center, space-between);

    @include vars.media(tablet, max) {
        flex-direction: column;
        text-align: center;
        height: vars.rem(625);
        padding: 0 vars.rem(30);
        justify-content: center;
    }

    & > * {
        // flex: 1 1 vars.rem(600);
        width: 50%;

        @include vars.media(tablet, max) {
            width: 100%;
        }
    }

    img {
        width: 75%;

        @include vars.media(tablet, max) {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
        }
    }

    .title {
        margin-bottom: vars.rem(30);
        font-size: vars.rem(36);
    }

    .content {
        font-size: vars.rem(16);
        width: 80%;
        @include vars.media(tablet, max) {
            margin: 0 auto;
            line-height: vars.rem(32);
        }
    }
}
