$light-red: hsl(356, 100%, 66%); //(CTA text)
$very-light-red: hsl(355, 100%, 74%); //(CTA hover background)
$very-light-blue: hsl(208, 49%, 24%); //(headings)
$white: hsl(0, 0%, 100%); //(text)
$grayish-blue: hsl(240, 2%, 79%); //(footer text)
$very-dark-grayish-blue: hsl(207, 13%, 34%); //(body copy)
$very-dark-black-blue: hsl(240, 10%, 16%); //(footer background)

// Background gradient - Intro/CTA mobile nav:
$grad-very-light-red: hsl(13, 100%, 72%);
$grad-light-red: hsl(353, 100%, 62%);

// Background gradient - body:
$very-dark-gray-blue: hsl(237, 17%, 21%);
$very-dark-des-blue: hsl(237, 23%, 32%);
