@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
.container {
  width: 100%;
  height: 100%;
}
.container > * {
  width: 100%;
}

.head_navbar, .head_nav, .head_nav .account, .head_navlink, .head .openers, .hero, .hero section, .future .infos, .state, .feature .infos, footer {
  display: flex;
}

.head_img_desktop, .head .panel.active {
  display: block;
}

.head_img_mobile, .head .panel, .icon_menu {
  display: none;
}

body {
  font-family: "Ubuntu", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
  overflow-x: hidden;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}

.head {
  height: 37.5rem;
  background-image: linear-gradient(90deg, #ff8f70, #ff3d54);
  padding: 3.75rem 0;
  position: relative;
  border-bottom-left-radius: 5.9375rem;
  /******************** BACKGROUND IMAGE ********************/
  /******************** LOGO ********************/
  /******************** NAVBAR (ACCORDIONS AND BUTTONS) ********************/
}
.head_img {
  width: 80%;
  position: absolute;
  transform: scale(2);
  height: 100%;
  right: -15%;
  bottom: -35%;
}
@media only screen and (max-width: 479px) {
  .head_img_desktop {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  .head_img_mobile {
    display: block;
  }
}
.head_header {
  position: relative;
  margin: 0 auto;
  width: clamp(20.625rem, 80%, 75rem);
}
.head_navbar {
  align-items: center;
  justify-content: space-between;
}
.head .logo_container {
  display: flex;
  width: auto;
}
@media only screen and (max-width: 767px) {
  .head .logo_container {
    width: 100%;
  }
}
.head_logo {
  height: 2.5rem;
  width: 6.25rem;
  background-image: url(/src/images/logo.svg);
  margin-right: 4.0625rem;
}
.head_nav {
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
@media only screen and (max-width: 767px) {
  .head_nav {
    display: none;
    position: relative;
    z-index: 2;
  }
}
@media only screen and (max-width: 767px) {
  .head_nav.active {
    position: absolute;
    overflow: hidden;
    top: 6.9375rem;
    background: white;
    min-width: 20.3125rem;
    width: 100%;
    padding: 1.875rem 0;
    left: 0;
    display: flex;
    min-height: 31.875rem;
    flex-direction: column;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }
}
.head_nav .account {
  width: 13.75rem;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .head_nav .account {
    align-self: flex-end;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
}
.head_navlink {
  color: white;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .head_navlink {
    color: #2c2d3f;
  }
}
.head_navlink.active {
  text-decoration: underline;
}
.head_navlink.active ion-icon {
  transform: rotate(180deg);
}
.head_navlink ion-icon {
  margin-left: 0.3125rem;
}
@media only screen and (max-width: 767px) {
  .head_navlink ion-icon {
    color: #ff7a85;
  }
}
.head .panel {
  position: absolute;
  width: 10rem;
  background: white;
  padding: 1.25rem;
  transform: translateY(1.25rem);
  border-radius: 0.25rem;
  z-index: 10;
}
.head .panel p {
  cursor: pointer;
}
.head .panel p:hover {
  font-weight: bold;
}
.head .panel p:not(:last-child) {
  margin-bottom: 0.9375rem;
}
@media only screen and (max-width: 767px) {
  .head .panel {
    background: #c8c8cb;
    width: 17.1875rem;
    left: 50%;
    transform: translate(-50%, 45%);
  }
}
.head .openers {
  justify-content: space-between;
  width: 19.0625rem;
}
@media only screen and (max-width: 767px) {
  .head .openers {
    width: 100%;
    flex-direction: column;
    text-align: center;
    height: 7.5rem;
    align-items: center;
  }
}
.head .openers section {
  position: relative;
}
.head .account button {
  border: none;
  background: none;
  color: white;
  padding: 0.625rem 1.875rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.3s;
}
@media only screen and (max-width: 767px) {
  .head .account button {
    color: #2c2d3f;
    font-weight: bold;
    margin: 0.5rem 0;
  }
}
@media only screen and (max-width: 767px) {
  .head .account button:last-child {
    color: white;
    background-image: linear-gradient(90deg, #ff8f70, #ff3d54);
  }
}
@media only screen and (min-width: 768px) {
  .head .account button:hover {
    background: rgba(255, 255, 255, 0.3);
  }
}

.icon_menu {
  margin-left: auto;
  font-size: 1.5625rem;
  cursor: pointer;
  color: white;
}
@media only screen and (max-width: 767px) {
  .icon_menu {
    display: block;
  }
}

.hero {
  max-width: 1200px;
  width: 75%;
  position: relative;
  color: white;
  text-align: center;
  margin: 5.625rem auto 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.hero h1 {
  font-size: 3rem;
}
@media only screen and (max-width: 767px) {
  .hero h1 {
    font-size: 1.8125rem;
  }
}
.hero p {
  margin: 2.5rem 0;
}
.hero section {
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.hero button {
  background: white;
  border: none;
  color: white;
  padding: 0.625rem 0.9375rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: background 0.3s;
  font-weight: bold;
  color: #ff525d;
}
.hero button.secondary {
  margin-left: 1rem;
  background: transparent;
  border: 1px solid white;
  color: inherit;
}
.hero button:not(.secondary):hover {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
.hero .secondary:hover {
  background: white;
  color: #ff525d;
}

.future {
  max-width: 84.9375rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #4b5862;
  padding: 10rem 0 16.25rem;
}
.future .infos {
  margin-top: 3.75rem;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .future .infos {
    flex-direction: column-reverse;
    text-align: center;
  }
}
.future .infos > * {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .future .infos > * {
    width: 80%;
    margin: 0 auto;
  }
}
.future .infos .right {
  position: relative;
}
.future .infos img {
  position: absolute;
  right: -50%;
  top: -60%;
  width: 120%;
}
@media only screen and (max-width: 767px) {
  .future .infos img {
    position: relative;
    width: 100%;
    right: 0;
  }
}
.future h3 {
  margin-bottom: 1.875rem;
  font-size: 1.625rem;
  color: #1f3f5b;
}
.future .content {
  width: 80%;
  background: red;
}
.future article:first-child {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 767px) {
  .future article:first-child {
    margin-bottom: 3.125rem;
  }
}

.state {
  height: 25rem;
  padding: 0 10rem;
  background: #2c2d3f;
  color: white;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .state {
    flex-direction: column;
    text-align: center;
    height: 39.0625rem;
    padding: 0 1.875rem;
    justify-content: center;
  }
}
.state > * {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .state > * {
    width: 100%;
  }
}
.state img {
  width: 75%;
}
@media only screen and (max-width: 767px) {
  .state img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
  }
}
.state .title {
  margin-bottom: 1.875rem;
  font-size: 2.25rem;
}
.state .content {
  font-size: 1rem;
  width: 80%;
}
@media only screen and (max-width: 767px) {
  .state .content {
    margin: 0 auto;
    line-height: 2rem;
  }
}

.feature {
  max-width: 84.9375rem;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #4b5862;
  padding: 10rem 0 16.25rem;
}
.feature .infos {
  margin-top: 3.75rem;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .feature .infos {
    flex-direction: column;
    text-align: center;
  }
}
.feature .infos > * {
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .feature .infos > * {
    width: 80%;
    margin: 0 auto;
  }
}
.feature .infos .left {
  position: relative;
}
.feature .infos img {
  position: absolute;
  left: -45%;
  top: 50%;
  width: 120%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 767px) {
  .feature .infos img {
    position: relative;
    width: 100%;
    left: 0;
    transform: translateY(0%);
  }
}
.feature .infos .content {
  width: 80%;
}
@media only screen and (max-width: 767px) {
  .feature .infos .content {
    margin: 0 auto;
    text-align: center;
  }
}
.feature h3 {
  margin-bottom: 1.875rem;
  font-size: 1.625rem;
  color: #1f3f5b;
}
.feature article:first-child {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 767px) {
  .feature article:first-child {
    margin-bottom: 3.125rem;
  }
}

footer {
  background: #25252d;
  color: white;
  border-top-right-radius: 3rem;
  padding: 5rem 10rem;
  align-items: start;
  justify-content: space-around;
}
@media only screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4.375rem 0;
  }
}
footer .logo {
  height: 2.5rem;
  width: 6.25rem;
  background-image: url(/src/images/logo.svg);
}
footer .title {
  font-weight: bold;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 767px) {
  footer .title {
    margin-top: 2.5rem;
  }
}
footer li:not(.title) {
  margin-bottom: 0.9375rem;
  color: #c8c8cb;
}
@media only screen and (max-width: 767px) {
  footer li:not(.title) {
    margin-bottom: 0.625rem;
  }
}
footer a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
